.clearfix {
    &:after {
        width: 0;
        height: 0;
        content: '';
        clear: both;
        display: block;
        visibility: hidden;
    }
}
.center() {
    display: flex;
    align-items: center;
    justify-content: center;
}
.right() {
    display: flex;
    align-items: center;
    justify-content: flex-end;
}
.gradient() {
    background: -webkit-linear-gradient(left, #888, #fff); /* Safari 5.1 - 6.0 */
    background: -o-linear-gradient(left, #888, #fff); /* Opera 11.1 - 12.0 */
    background: -moz-linear-gradient(left, #888, #fff); /* Firefox 3.6 - 15 */
    background: linear-gradient(left, #888, #fff); /* 标准的语法 */
}
